# KoalaFinance environment configurations template

# Web Server Port
KOALAFINANCE_PORT=8080

# SQLite Database Location
# Default in production Docker is /data/koalafinance.db
KOALAFINANCE_DATABASE_PATH=./koalafinance.db

# Initial Site Administrator bootstrap credentials
# Required on first run. If database is empty, the server creates this user.
KOALAFINANCE_ADMIN_USERNAME=admin@koalafinance.local
KOALAFINANCE_ADMIN_PASSWORD=change-me-to-something-secure-3072
